@page "/M_ViewEntry/{id:int?}"
@using Domain.Repositories.Interfaces
@using Microsoft.VisualBasic
@using Model
@using Model.Entities
@inject IRepositoryAsync<NormalContent> NormalContentRepository
@inject IRepositoryAsync<ToDoListItem> ToDoListRepository
@inject IRepositoryAsync<Response> ResponseRepository
<style>
    .btn {
        background-color: #6610f2;
        color: white;
        text-align: center;
    }
    .card-title .heading .lead .bottom{
        color: mediumpurple;
    }
    .heading{
        text-decoration: underline #6610f2;
    }
    .card{
        background-color: #e5c7ca;
    }
    .text{
        color: #C1AF9E;
        text-decoration: underline #C1AF9E;
    }

    .crossed{
        text-decoration: line-through;
    }
</style>
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center flex-column">
            <h1 class="heading">Welcome to your Diary Entry</h1>
            <p class="lead">Read about your old yourself! Please promise me to not cry</p>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center flex-row pt-4">
            <div class="card col-9 m-lg-5">
                <div class="card-body d-flex justify-content-between align-items-center flex-column">
                    <h3 class="card-title text">@entry.Title</h3>
                    <h3 class="card-text text">@entry.Content</h3>
                </div>
            </div>
            <div class="card col-3">
                <div class="card-body d-flex justify-content-center align-items-center flex-column">
                    <h5>ToDo-List</h5>
                    @foreach (var i in ToDoListItems)
                    {
                        <div class="d-flex flex-row">
                            @if (_random.Next(0, 10) < 7)
                            {
                                @if (i.Done)
                                {
                                    <input type="text" class="form-control crossed" value="@i.Content" disabled>
                                }
                                else
                                {
                                    <input type="text" class="form-control" value="@i.Content" disabled>
                                }
                            }
                            else
                            {
                                @if (i.Done)
                                {
                                    <input type="text" class="form-control" value="@i.Content" disabled>
                                }
                                else
                                {
                                    <input type="text" class="form-control crossed" value="@i.Content" disabled>
                                }
                                <div>@Responses[_random.Next(0, Responses.Count - 1)]</div>
                            }
                            
                            <input type="checkbox" @onclick="() => UpdateCrossed(i.ItemId, i.Done)"/>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    Random _random = new Random();
    public NormalContent entry = new NormalContent();
    public List<ToDoListItem> ToDoListItems = new List<ToDoListItem>();
    public List<Response> Responses = new List<Response>();
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        entry = await NormalContentRepository.ReadAsync(id);
        Responses = await ResponseRepository.ReadAllAsync();
        ToDoListItems = await ToDoListRepository.ReadAsync(a => a.EntryId == id);
    }
    public async Task UpdateCrossed(int id, bool done)
    {
        if (done == true)
        {
            done = false;
        }
        else
        {
            done = true;
        }
        var toUpdate = ToDoListItems.First(s => s.ItemId == id);
        toUpdate.Done = done;
        await ToDoListRepository.UpdateAsync(toUpdate);
        
    }
    
}